.container{
    padding-top: 50px ;
}
.backgound{
    background-color:hsl(0, 15%, 92%) ;

}

nav{
    box-shadow: 5px 5px 40px wheat;
}

#carouselExampleAutoplaying{
    padding: 20px 40px;
    margin: 30px 0px ;
    border-radius: 30%;
    box-shadow: 5px 5px 70px lightskyblue;
}

nav{
    border-radius: 10px;
}
.cat1,.cat2,.cat3{
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgb(220, 230, 173);
}

.cat1{
    background-color: orange;
}

.cat2{
    background-color: orangered;
}

.cat3{
    background-color: blue;
}

.cat1, .cat2, .cat3{
    padding: 10px 20px;
}

.card{
    
    box-shadow: 5px 5px 100px lightgreen;
}

h1{
    color: black;
}

.ops{
    box-shadow:5px 5px 100px lightcoral;
}


.topa{
    box-shadow: 5px 5px 30px gold;
}



.rounded-circle{
    height: 150px;
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#tas2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 30px;
}
#tas{
    width: 100%;
    background-color: darkslategrey;
    box-shadow: 5px 5px 60px darkturquoise;

}

.intoduction1{
    width: 100%;
}

.intoduction{
    text-align: center;
    width: 30%;
    margin-left: 35%;
}